*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/image.jpg);
}
h1{
    color: white;
    font-size: 50px;
    padding-top: 230px;
    padding-left: 80px;
}
.test{
    color:whitesmoke;
    font-size: 20px;
    padding-left: 80px;
}
button {
    height: 35px;
    width: 100px;
    color: white;
    background-color: red;
    margin-top: 20px;
    margin-left: 80px;
}